
<%= form_for [@topic, @comment] do |f| %>

  <div class="field">
  <%= f.label     "Write your opinion" %> <br>
  <%= f.text_area  :body, row: "20", cols: "90" %>
  </div>
<%= f.submit "Comment" %>
  
<% end -%>